OSB_Applications/CommonDataModel/v1/CustomerAccount.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:cat="http://www.turktelekom.com.tr/aTTIP/CustomerAccount/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ad="http://www.turktelekom.com.tr/aTTIP/Address/1.0" targetNamespace="http://www.turktelekom.com.tr/aTTIP/CustomerAccount/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
<xs:annotation>
<xs:documentation>20100715 CustomerAccount.xsd v.2.4</xs:documentation>
</xs:annotation>
<xs:import namespace="http://www.turktelekom.com.tr/aTTIP/Address/1.0" schemaLocation="Address.xsd"/>
<xs:element name="CustomerAccount" type="cat:CustomerAccountType"/>
<xs:complexType name="CustomerAccountType">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="accountType" type="xs:string" minOccurs="0"/>
<xs:element name="accountStatus" type="xs:string" minOccurs="0"/>
<xs:element name="creditLimit" type="xs:string" minOccurs="0"/>
<xs:element name="pin" type="xs:string" minOccurs="0"/>
<xs:element name="paymentStatus" type="xs:string" minOccurs="0"/>
<xs:element name="invoiceName" type="xs:string" minOccurs="0"/>
<xs:element name="billingPeriod" type="xs:string" minOccurs="0"/>
<xs:element name="invoiceFormat" type="xs:string" minOccurs="0"/>
<xs:element name="notificationType" type="xs:string" minOccurs="0"/>
<xs:element name="billPreference" type="xs:string" minOccurs="0"/>
<xs:element name="accrualType" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="activationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="terminationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="CustomerBill" type="cat:CustomerBillType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CustomerAccountTaxExemption" type="cat:CustomerAccountTaxExemptionType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CustomerAccountCharacteristicValue" type="cat:CustomerAccountCharacteristicValueType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CustomerAccountContact" type="cat:CustomerAccountContactType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="PaymentMethod" type="cat:PaymentMethodType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CustomerAccountRelationship" type="cat:CustomerAccountRelationshipType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerAccountTaxExemptionType">
<xs:sequence>
<xs:element name="issuingJurisdiction" type="xs:string" minOccurs="0"/>
<xs:element name="certificateNumber" type="xs:string" minOccurs="0"/>
<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="issueDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="minimumLimit" type="xs:integer" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerAccountRelationshipType">
<xs:sequence>
<xs:element name="relationshipType" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerBillType">
<xs:sequence>
<xs:element name="billNo" type="xs:string" minOccurs="0"/>
<xs:element name="billDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="chargeDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="creditDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="mailingDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="paymentDueDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentMethodType">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CreditCardInfoType">
<xs:complexContent>
<xs:extension base="cat:PaymentMethodType">
<xs:sequence>
<xs:element name="ccType" type="xs:string" minOccurs="0"/>
<xs:element name="ccHolder" type="xs:string" minOccurs="0"/>
<xs:element name="ccNumber" type="xs:string" minOccurs="0"/>
<xs:element name="ccAuthorizationCode" type="xs:string" minOccurs="0"/>
<xs:element name="ccExpirationDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BankInfoType">
<xs:complexContent>
<xs:extension base="cat:PaymentMethodType">
<xs:sequence>
<xs:element name="bankCode" type="xs:string" minOccurs="0"/>
<xs:element name="IBAN" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CustomerAccountInteractionRoleType">
<xs:complexContent>
<xs:extension base="cat:BusinessInteractionRoleType">
<xs:sequence>
<xs:element name="CustomerAccount" type="cat:CustomerAccountType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BusinessInteractionRoleType">
<xs:sequence>
<xs:element name="interactionRole" type="xs:string" minOccurs="0"/>
<xs:element name="BusinessInteractionItem" type="cat:BusinessInteractionItemType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BusinessInteractionItemType">
<xs:sequence>
<xs:element name="Action" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerAccountCharacteristicValueType">
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="CustomerAccountCharacteristicSpecValue" type="cat:CustomerAccountCharacteristicSpecValueType" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerAccountCharacteristicSpecValueType">
<xs:sequence>
<xs:element name="valueType" type="xs:string" minOccurs="0"/>
<xs:element name="default" type="xs:boolean" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="unitOfMeasure" type="xs:string" minOccurs="0"/>
<xs:element name="valueFrom" type="xs:string" minOccurs="0"/>
<xs:element name="valueTo" type="xs:string" minOccurs="0"/>
<xs:element name="rangeInterval" type="xs:string" minOccurs="0"/>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="desctiption" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerAccountContactType">
<xs:sequence>
<xs:element name="contactType" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="TelephoneNumber" type="cat:TelephoneNumberType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="EmailContact" type="cat:EmailContactType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FaxNumber" type="cat:FaxNumberType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="WebAddress" type="cat:WebAddressType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="PostalContact" type="cat:PostalContactType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="WebAddressType">
<xs:complexContent>
<xs:extension base="cat:ContactMediumType">
<xs:sequence>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TelephoneNumberType">
<xs:complexContent>
<xs:extension base="cat:ContactMediumType">
<xs:sequence>
<xs:element name="number" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="EmailContactType">
<xs:complexContent>
<xs:extension base="cat:ContactMediumType">
<xs:sequence>
<xs:element name="eMailAddress" type="xs:string" minOccurs="0"/>
<xs:element name="eMailProtocol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="FaxNumberType">
<xs:complexContent>
<xs:extension base="cat:ContactMediumType">
<xs:sequence>
<xs:element name="number" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PostalContactType">
<xs:complexContent>
<xs:extension base="cat:ContactMediumType">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="AddressContactMediumRole" type="cat:AddressContactMediumRoleType" minOccurs="0"/>
<xs:element name="Address" type="cat:AddressType" minOccurs="0"/>
<xs:element name="GeographicAddress" type="cat:GeographicAddressType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AddressContactMediumRoleType">
<xs:sequence>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="GeographicAddress" type="cat:GeographicAddressType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AddressType">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="isPrimary" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GeographicAddressType">
<xs:complexContent>
<xs:extension base="cat:AddressType">
<xs:sequence>
<xs:element name="stateOrProvince" type="xs:string" minOccurs="0"/>
<xs:element name="municipality" type="xs:string" minOccurs="0"/>
<xs:element name="field" type="xs:string" minOccurs="0"/>
<xs:element name="suburb" type="xs:string" minOccurs="0"/>
<xs:element name="territory" type="xs:string" minOccurs="0"/>
<xs:element name="LogicalGeographicAddress" type="cat:LogicalGeographicAddressType" minOccurs="0"/>
<xs:element name="PoBoxAddress" type="cat:PoBoxAddressType" minOccurs="0"/>
<xs:element name="Country" type="ad:CountryType" minOccurs="0"/>
<xs:element name="City" type="ad:TTCityType" minOccurs="0"/>
<xs:element name="SubDistrict" type="ad:TTSubDistrictType" minOccurs="0"/>
<xs:element name="District" type="ad:TTDistrictType" minOccurs="0"/>
<xs:element name="Village" type="ad:TTVillageType" minOccurs="0"/>
<xs:element name="Neighborhood" type="ad:TTNeighborhoodType" minOccurs="0"/>
<xs:element name="ASBC" type="ad:TTASBCType" minOccurs="0"/>
<xs:element name="Building" type="ad:TTBuildingType" minOccurs="0"/>
<xs:element name="Apartment" type="ad:TTApartmentType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PoBoxAddressType">
<xs:complexContent>
<xs:extension base="cat:LogicalGeographicAddressType">
<xs:sequence>
<xs:element name="boxType" type="xs:string" minOccurs="0"/>
<xs:element name="boxNr" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ContactMediumType">
<xs:sequence>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="preferredContactMethod" type="xs:string" minOccurs="0"/>
<xs:element name="preferredContactTime" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LogicalGeographicAddressType">
<xs:sequence>
<xs:element name="stateOrProvince" type="xs:string" minOccurs="0"/>
<xs:element name="municipality" type="xs:string" minOccurs="0"/>
<xs:element name="field" type="xs:string" minOccurs="0"/>
<xs:element name="suburb" type="xs:string" minOccurs="0"/>
<xs:element name="territory" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
