trunk/OSB_Applications/CommonDataModel/v1/CDM_20100805.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:cdm="http://www.turktelekom.com.tr/aTTIP/CDM/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.turktelekom.com.tr/aTTIP/CDM/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
<xs:annotation>
<xs:documentation>20100727 CDM.xsd v.1.0</xs:documentation>
</xs:annotation>
<xs:annotation>
<xs:documentation>START - ELEMENTS</xs:documentation>
</xs:annotation>
<xs:element name="Customer" type="cdm:CustomerType"/>
<xs:element name="CustomerAccount" type="cdm:CustomerAccountType"/>
<xs:element name="TTUser" type="cdm:TTUserType"/>
<xs:element name="TTServiceRequest" type="cdm:TTServiceRequestType"/>
<xs:element name="GeographicAddress" type="cdm:GeographicAddressType"/>
<xs:annotation>
<xs:documentation>END - ELEMENTS</xs:documentation>
</xs:annotation>
<xs:annotation>
<xs:documentation>START - COMMON ABEs</xs:documentation>
</xs:annotation>
<xs:complexType name="IndividualNameType">
<xs:sequence>
<xs:element name="formattedName" type="xs:string" minOccurs="0"/>
<xs:element name="legalName" type="xs:string" minOccurs="0"/>
<xs:element name="aristocraticTitle" type="xs:string" minOccurs="0"/>
<xs:element name="formOfAddress" type="xs:string" minOccurs="0"/>
<xs:element name="generation" type="xs:string" minOccurs="0"/>
<xs:element name="givenNames" type="xs:string" minOccurs="0"/>
<xs:element name="preferredGivenName" type="xs:string" minOccurs="0"/>
<xs:element name="middleNames" type="xs:string" minOccurs="0"/>
<xs:element name="familyNamePrefix" type="xs:string" minOccurs="0"/>
<xs:element name="familyNames" type="xs:string" minOccurs="0"/>
<xs:element name="familyGeneration" type="xs:string" minOccurs="0"/>
<xs:element name="qualifications" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IndividualType">
<xs:complexContent>
<xs:extension base="cdm:PartyType">
<xs:sequence>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="placeOfBirth" type="xs:string" minOccurs="0"/>
<xs:element name="nationality" type="xs:string" minOccurs="0"/>
<xs:element name="maritalStatus" type="xs:string" minOccurs="0"/>
<xs:element name="dateOfBirth" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateOfDeath" type="xs:dateTime" minOccurs="0"/>
<xs:element name="jobTitle" type="xs:string" minOccurs="0"/>
<xs:element name="Party" type="cdm:PartyType" minOccurs="0"/>
<xs:element name="IndividualName" type="cdm:IndividualNameType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="TurkishIdentification" type="cdm:TurkishIdentificationType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="IndividualIdentificationType">
<xs:complexContent>
<xs:extension base="cdm:PartyIdentificationType">
<xs:sequence>
<xs:element name="documentType" type="xs:string" minOccurs="0"/>
<xs:element name="documentNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TurkishIdentificationType">
<xs:complexContent>
<xs:extension base="cdm:IndividualIdentificationType">
<xs:sequence>
<xs:element name="mernisTCID" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="motherName" type="xs:string" minOccurs="0"/>
<xs:element name="fatherName" type="xs:string" minOccurs="0"/>
<xs:element name="dateOfBirth" type="xs:dateTime" minOccurs="0"/>
<xs:element name="placeOfBirth" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="province" type="xs:string" minOccurs="0"/>
<xs:element name="neighborhood" type="xs:string" minOccurs="0"/>
<xs:element name="volumeCode" type="xs:string" minOccurs="0"/>
<xs:element name="familySequenceNr" type="xs:string" minOccurs="0"/>
<xs:element name="sequenceNr" type="xs:string" minOccurs="0"/>
<xs:element name="maritalStatus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="OrganizationType">
<xs:complexContent>
<xs:extension base="cdm:PartyType">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="incorporationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="disincorporationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="establishmentDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="size" type="xs:string" minOccurs="0"/>
<xs:element name="TTSector" type="cdm:TTSectorType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="OrganizationName" type="cdm:OrganizationNameType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="OrganizationIdentification" type="cdm:OrganizationIdentificationType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="OrganizationNameType">
<xs:sequence>
<xs:element name="tradingName" type="xs:string" minOccurs="0"/>
<xs:element name="nameType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrganizationIdentificationType">
<xs:complexContent>
<xs:extension base="cdm:PartyIdentificationType">
<xs:sequence>
<xs:element name="documentType" type="xs:string" minOccurs="0"/>
<xs:element name="documentNumber" type="xs:string" minOccurs="0"/>
<xs:element name="chamberOfIndustryRegisterID" type="xs:string" minOccurs="0"/>
<xs:element name="charityAssociationRegisterID" type="xs:string" minOccurs="0"/>
<xs:element name="chamberOfTradeRegisterID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PartyIdentificationType">
<xs:sequence>
<xs:element name="issueDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="scan" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxIdentificationType">
<xs:complexContent>
<xs:extension base="cdm:PartyIdentificationType">
<xs:sequence>
<xs:element name="taxNumber" type="xs:string" minOccurs="0"/>
<xs:element name="taxOfficeCityName" type="xs:string" minOccurs="0"/>
<xs:element name="taxOfficeNumber" type="xs:string" minOccurs="0"/>
<xs:element name="taxOfficeName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PartyType">
<xs:sequence>
<xs:element name="partyId" type="xs:string" minOccurs="0"/>
<xs:element name="isLegalEntity" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="TaxIdentification" type="cdm:TaxIdentificationType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyRoleType">
<xs:sequence>
<xs:element name="partyRoleId" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="PartyRoleAssociation" type="cdm:PartyRoleAssociationType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="PartyRoleType" type="cdm:PartyRoleTypeType" minOccurs="0"/>
<xs:element name="TTPartyDemographic" type="cdm:TTPartyDemographicType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="PartyRoleProductInvolvement" type="cdm:PartyRoleProductInvolvementType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="TelephoneNumber" type="cdm:TelephoneNumberType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="EmailContact" type="cdm:EmailContactType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FaxNumber" type="cdm:FaxNumberType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="WebAddress" type="cdm:WebAddressType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="PostalContact" type="cdm:PostalContactType" minOccurs="0" maxOccurs="unbounded"/>
<xs:choice id="party.choice">
<xs:element name="Individual" type="cdm:IndividualType" minOccurs="0"/>
<xs:element name="Organization" type="cdm:OrganizationType" minOccurs="0"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyRoleTypeType">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyRoleAssociationType">
<xs:sequence>
<xs:element name="associationType" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:choice id="partyrole.choice">
<xs:element name="PartyRole" type="cdm:PartyRoleType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Contact" type="cdm:ContactType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Customer" type="cdm:CustomerType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="TTUser" type="cdm:TTUserType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="TTDepartment" type="cdm:TTDepartmentType" minOccurs="0" maxOccurs="unbounded"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ContactMediumType">
<xs:sequence>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="preferredContactMethod" type="xs:string" minOccurs="0"/>
<xs:element name="preferredContactTime" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TelephoneNumberType">
<xs:complexContent>
<xs:extension base="cdm:ContactMediumType">
<xs:sequence>
<xs:element name="number" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="EmailContactType">
<xs:complexContent>
<xs:extension base="cdm:ContactMediumType">
<xs:sequence>
<xs:element name="eMailAddress" type="xs:string" minOccurs="0"/>
<xs:element name="eMailProtocol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="FaxNumberType">
<xs:complexContent>
<xs:extension base="cdm:ContactMediumType">
<xs:sequence>
<xs:element name="number" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="WebAddressType">
<xs:complexContent>
<xs:extension base="cdm:ContactMediumType">
<xs:sequence>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PostalContactType">
<xs:complexContent>
<xs:extension base="cdm:ContactMediumType">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="AddressContactMediumRole" type="cdm:AddressContactMediumRoleType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AddressContactMediumRoleType">
<xs:sequence>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="GeographicAddress" type="cdm:GeographicAddressType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AddressContactMediumType">
<xs:sequence>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyContractRoleType">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TTContractType">
<xs:complexContent>
<xs:extension base="cdm:AgreementType">
<xs:sequence>
<xs:element name="contractID" type="xs:string" minOccurs="0"/>
<xs:element name="contractName" type="xs:string" minOccurs="0"/>
<xs:element name="contractDescription" type="xs:string" minOccurs="0"/>
<xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="TTContractItem" type="cdm:TTContractItemType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTContractItemType">
<xs:complexContent>
<xs:extension base="cdm:AgreementItemType">
<xs:sequence>
<xs:element name="contractItemID" type="xs:string" minOccurs="0"/>
<xs:element name="contractItemName" type="xs:string" minOccurs="0"/>
<xs:element name="contractItemDescription" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AgreementType">
<xs:complexContent>
<xs:extension base="cdm:BusinessInteractionType">
<xs:sequence>
<xs:element name="agreementDocumentNumber" type="xs:string" minOccurs="0"/>
<xs:element name="agreementStatementOfIntent" type="xs:string" minOccurs="0"/>
<xs:element name="agreementStartDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="agreementEndDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="AgreementItem" type="cdm:AgreementItemType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AgreementItemType">
<xs:complexContent>
<xs:extension base="cdm:BusinessInteractionItemType">
<xs:sequence>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BusinessInteractionItemType">
<xs:sequence>
<xs:element name="action" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BusinessInteractionType">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="interactionDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="interactionDateComplete" type="xs:dateTime" minOccurs="0"/>
<xs:element name="interactionStatus" type="xs:string" minOccurs="0"/>
<xs:element name="BusinessInteractionRelationship" type="cdm:BusinessInteractionRelationshipType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="BusinessInteractionItem" type="cdm:BusinessInteractionItemType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="BusinessInteractionRole" type="cdm:BusinessInteractionRoleType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BusinessInteractionRelationshipType">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RequestResponseRelationshipType">
<xs:complexContent>
<xs:extension base="cdm:BusinessInteractionRelationshipType">
<xs:sequence>
<xs:element name="correlationID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Response">
<xs:complexContent>
<xs:extension base="cdm:BusinessInteractionType"/>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Request">
<xs:complexContent>
<xs:extension base="cdm:BusinessInteractionType">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BusinessInteractionRoleType">
<xs:sequence>
<xs:element name="interactionRole" type="xs:string" minOccurs="0"/>
<xs:element name="BusinessInteractionItem" type="cdm:BusinessInteractionItemType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyInteractionRoleType">
<xs:complexContent>
<xs:extension base="cdm:BusinessInteractionRoleType">
<xs:sequence>
<xs:choice id="partyinteractionrole.choice">
<xs:element name="PartyRole" type="cdm:PartyRoleType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Contact" type="cdm:ContactType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Customer" type="cdm:CustomerType" minOccurs="0" maxOccurs="unbounded"/>
</xs:choice>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CharacteristicValueType">
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SpecCharacteristicType">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="valueType" type="xs:string" minOccurs="0"/>
<xs:element name="derivationFormula" type="xs:string" minOccurs="0"/>
<xs:element name="extensible" type="xs:string" minOccurs="0"/>
<xs:element name="unique" type="xs:string" minOccurs="0"/>
<xs:element name="minCardinality" type="xs:string" minOccurs="0"/>
<xs:element name="maxCardinality" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TTSectorType">
<xs:sequence>
<xs:element name="isPrimary" type="xs:string" minOccurs="0"/>
<xs:element name="sector" type="xs:string" minOccurs="0"/>
<xs:element name="subSector" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:annotation>
<xs:documentation>END - COMMON ABEs</xs:documentation>
</xs:annotation>
<xs:annotation>
<xs:documentation>START - CUSTOMER ABEs</xs:documentation>
</xs:annotation>
<xs:complexType name="CustomerType">
<xs:complexContent>
<xs:extension base="cdm:PartyRoleType">
<xs:sequence>
<xs:element name="customerStatus" type="xs:string" minOccurs="0"/>
<xs:element name="customerRank" type="xs:long" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="vipLevel" type="xs:string" minOccurs="0"/>
<xs:element name="pinCode" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="statusChangeReason" type="xs:string" minOccurs="0"/>
<xs:element name="CustomerCharacteristicValue" type="cdm:CustomerCharacteristicValueType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="TTEnterprise" type="cdm:TTEnterpriseType" minOccurs="0"/>
<xs:element name="CustomerAccount" type="cdm:CustomerAccountType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTPartyDemographicType">
<xs:complexContent>
<xs:extension base="cdm:PartyDemographicType">
<xs:sequence>
<xs:element name="numberOfEmployees" type="xs:integer" minOccurs="0"/>
<xs:element name="revenue" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfBranches" type="xs:string" minOccurs="0"/>
<xs:element name="campaignNotification" type="xs:string" minOccurs="0"/>
<xs:element name="MarketSegment" type="cdm:MarketSegmentType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="MarketSegmentType">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="marketSegmentCategory" type="xs:string" minOccurs="0"/>
<xs:element name="marketSegmentSubCategory" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyDemographicType">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="partyDemographicSource" type="xs:string" minOccurs="0"/>
<xs:element name="dateCreated" type="xs:dateTime" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ContactType">
<xs:complexContent>
<xs:extension base="cdm:PartyRoleType">
<xs:sequence>
<xs:element name="comments" type="xs:string" minOccurs="0"/>
<xs:element name="doNotCall" type="xs:string" minOccurs="0"/>
<xs:element name="doNotMail" type="xs:string" minOccurs="0"/>
<xs:element name="doNotEmail" type="xs:string" minOccurs="0"/>
<xs:element name="isAuthorizedContact" type="xs:string" minOccurs="0"/>
<xs:element name="contactType" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTEnterpriseType">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="Customer" type="cdm:CustomerType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerCharacteristicValueType">
<xs:complexContent>
<xs:extension base="cdm:CharacteristicValueType">
<xs:sequence>
<xs:element name="CustomerSpecCharacteristic" type="cdm:CustomerSpecCharacteristicType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CustomerSpecCharacteristicType">
<xs:complexContent>
<xs:extension base="cdm:SpecCharacteristicType"/>
</xs:complexContent>
</xs:complexType>
<xs:annotation>
<xs:documentation>END - CUSTOMER ABEs</xs:documentation>
</xs:annotation>
<xs:annotation>
<xs:documentation>START - ADDRESS ABEs</xs:documentation>
</xs:annotation>
<xs:complexType name="PlaceType">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GeographicPlaceType">
<xs:complexContent>
<xs:extension base="cdm:PlaceType">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="LocalPlaceType">
<xs:complexContent>
<xs:extension base="cdm:PlaceType">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="GeographicSiteLocal">
<xs:complexContent>
<xs:extension base="cdm:GeographicPlaceType">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="LocalPlace" type="cdm:LocalPlaceType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="LocalAddress" type="cdm:LocalAddressType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="GeographicLocationType">
<xs:complexContent>
<xs:extension base="cdm:GeographicPlaceType">
<xs:sequence>
<xs:element name="accuracy" type="xs:string" minOccurs="0"/>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="sourceCode" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="UAVTCode" type="xs:string" minOccurs="0"/>
<xs:element name="UAVTSourceCode" type="xs:string" minOccurs="0"/>
<xs:element name="GeographicLocationName" type="cdm:GeographicLocationNameType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="GeographicLocationNameType">
<xs:sequence>
<xs:element name="nameType" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocalAddressType">
<xs:complexContent>
<xs:extension base="cdm:LocalPlaceType">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="positionNr" type="xs:string" minOccurs="0"/>
<xs:element name="fullAddress" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CountryType">
<xs:complexContent>
<xs:extension base="cdm:GeographicLocationType">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="Iso2Code" type="xs:string" minOccurs="0"/>
<xs:element name="Iso3Code" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTCityType">
<xs:complexContent>
<xs:extension base="cdm:GeographicLocationType">
<xs:sequence>
<xs:element name="Country" type="cdm:CountryType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTDistrictType">
<xs:complexContent>
<xs:extension base="cdm:GeographicLocationType">
<xs:sequence>
<xs:element name="City" type="cdm:TTCityType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTSubDistrictType">
<xs:complexContent>
<xs:extension base="cdm:GeographicLocationType">
<xs:sequence>
<xs:element name="District" type="cdm:TTDistrictType" minOccurs="0"/>
<xs:element name="isCenter" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTVillageType">
<xs:complexContent>
<xs:extension base="cdm:GeographicLocationType">
<xs:sequence>
<xs:element name="SubDistrict" type="cdm:TTSubDistrictType" minOccurs="0"/>
<xs:element name="isCenter" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTNeighborhoodType">
<xs:complexContent>
<xs:extension base="cdm:GeographicLocationType">
<xs:sequence>
<xs:element name="Village" type="cdm:TTVillageType" minOccurs="0"/>
<xs:element name="authorizedAdminCode" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTASBCType">
<xs:complexContent>
<xs:extension base="cdm:GeographicLocationType">
<xs:sequence>
<xs:element name="Neighborhood" type="cdm:TTNeighborhoodType" minOccurs="0"/>
<xs:element name="developmentStatus" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTBuildingType">
<xs:complexContent>
<xs:extension base="cdm:GeographicLocationType">
<xs:sequence>
<xs:element name="ASBC" type="cdm:TTASBCType" minOccurs="0"/>
<xs:element name="gateNr" type="xs:string" minOccurs="0"/>
<xs:element name="siteName" type="xs:string" minOccurs="0"/>
<xs:element name="alternativeSiteName" type="xs:string" minOccurs="0"/>
<xs:element name="oldSiteName" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="oldBuildingCode" type="xs:string" minOccurs="0"/>
<xs:element name="characteristic" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTApartmentType">
<xs:complexContent>
<xs:extension base="cdm:GeographicLocationType">
<xs:sequence>
<xs:element name="Building" type="cdm:TTBuildingType" minOccurs="0"/>
<xs:element name="doorNr" type="xs:string" minOccurs="0"/>
<xs:element name="charecteristic" type="xs:string" minOccurs="0"/>
<xs:element name="addressNr" type="xs:string" minOccurs="0"/>
<xs:element name="explicitAddress" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AddressType">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="isPrimary" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GeographicAddressType">
<xs:complexContent>
<xs:extension base="cdm:AddressType">
<xs:sequence>
<xs:element name="stateOrProvince" type="xs:string" minOccurs="0"/>
<xs:element name="municipality" type="xs:string" minOccurs="0"/>
<xs:element name="field" type="xs:string" minOccurs="0"/>
<xs:element name="suburb" type="xs:string" minOccurs="0"/>
<xs:element name="territory" type="xs:string" minOccurs="0"/>
<xs:element name="LogicalGeographicAddress" type="cdm:LogicalGeographicAddressType" minOccurs="0"/>
<xs:element name="PoBoxAddress" type="cdm:PoBoxAddressType" minOccurs="0"/>
<xs:element name="Country" type="cdm:CountryType" minOccurs="0"/>
<xs:element name="City" type="cdm:TTCityType" minOccurs="0"/>
<xs:element name="SubDistrict" type="cdm:TTSubDistrictType" minOccurs="0"/>
<xs:element name="District" type="cdm:TTDistrictType" minOccurs="0"/>
<xs:element name="Village" type="cdm:TTVillageType" minOccurs="0"/>
<xs:element name="Neighborhood" type="cdm:TTNeighborhoodType" minOccurs="0"/>
<xs:element name="ASBC" type="cdm:TTASBCType" minOccurs="0"/>
<xs:element name="Building" type="cdm:TTBuildingType" minOccurs="0"/>
<xs:element name="Apartment" type="cdm:TTApartmentType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="UrbanPropertyAddressType">
<xs:complexContent>
<xs:extension base="cdm:GeographicAddressType">
<xs:sequence>
<xs:element name="streetNrFirst" type="xs:string" minOccurs="0"/>
<xs:element name="streetNrFirstSuffix" type="xs:string" minOccurs="0"/>
<xs:element name="streetNrLast" type="xs:string" minOccurs="0"/>
<xs:element name="streetNrLastSuffix" type="xs:string" minOccurs="0"/>
<xs:element name="streetName" type="xs:string" minOccurs="0"/>
<xs:element name="streetType" type="xs:string" minOccurs="0"/>
<xs:element name="streetSuffix" type="xs:string" minOccurs="0"/>
<xs:element name="locality" type="xs:string" minOccurs="0"/>
<xs:element name="postcode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="LogicalGeographicAddressType">
<xs:sequence>
<xs:element name="stateOrProvince" type="xs:string" minOccurs="0"/>
<xs:element name="municipality" type="xs:string" minOccurs="0"/>
<xs:element name="field" type="xs:string" minOccurs="0"/>
<xs:element name="suburb" type="xs:string" minOccurs="0"/>
<xs:element name="territory" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PoBoxAddressType">
<xs:complexContent>
<xs:extension base="cdm:LogicalGeographicAddressType">
<xs:sequence>
<xs:element name="boxType" type="xs:string" minOccurs="0"/>
<xs:element name="boxNr" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:annotation>
<xs:documentation>END - ADDRESS ABEs</xs:documentation>
</xs:annotation>
<xs:annotation>
<xs:documentation>START - CUSTOMER ACCOUNT ABEs</xs:documentation>
</xs:annotation>
<xs:complexType name="CustomerAccountType">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="accountType" type="xs:string" minOccurs="0"/>
<xs:element name="accountStatus" type="xs:string" minOccurs="0"/>
<xs:element name="creditLimit" type="xs:string" minOccurs="0"/>
<xs:element name="pin" type="xs:string" minOccurs="0"/>
<xs:element name="paymentStatus" type="xs:string" minOccurs="0"/>
<xs:element name="invoiceName" type="xs:string" minOccurs="0"/>
<xs:element name="billingPeriod" type="xs:string" minOccurs="0"/>
<xs:element name="invoiceFormat" type="xs:string" minOccurs="0"/>
<xs:element name="notificationType" type="xs:string" minOccurs="0"/>
<xs:element name="billPreference" type="xs:string" minOccurs="0"/>
<xs:element name="accrualType" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="activationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="terminationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="CustomerBill" type="cdm:CustomerBillType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CustomerAccountTaxExemption" type="cdm:CustomerAccountTaxExemptionType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CustomerAccountCharacteristicValue" type="cdm:CustomerAccountCharacteristicValueType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CustomerAccountContact" type="cdm:CustomerAccountContactType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="PaymentMethod" type="cdm:PaymentMethodType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CreditCardInfo" type="cdm:CreditCardInfoType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="BankInfo" type="cdm:BankInfoType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CustomerAccountRelationship" type="cdm:CustomerAccountRelationshipType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerAccountTaxExemptionType">
<xs:sequence>
<xs:element name="issuingJurisdiction" type="xs:string" minOccurs="0"/>
<xs:element name="certificateNumber" type="xs:string" minOccurs="0"/>
<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="issueDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="minimumLimit" type="xs:integer" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerAccountRelationshipType">
<xs:sequence>
<xs:element name="relationshipType" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerBillType">
<xs:sequence>
<xs:element name="billNo" type="xs:string" minOccurs="0"/>
<xs:element name="billDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="chargeDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="creditDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="mailingDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="paymentDueDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentMethodType">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CreditCardInfoType">
<xs:complexContent>
<xs:extension base="cdm:PaymentMethodType">
<xs:sequence>
<xs:element name="ccType" type="xs:string" minOccurs="0"/>
<xs:element name="ccHolder" type="xs:string" minOccurs="0"/>
<xs:element name="ccNumber" type="xs:string" minOccurs="0"/>
<xs:element name="ccAuthorizationCode" type="xs:string" minOccurs="0"/>
<xs:element name="ccExpirationDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BankInfoType">
<xs:complexContent>
<xs:extension base="cdm:PaymentMethodType">
<xs:sequence>
<xs:element name="bankCode" type="xs:string" minOccurs="0"/>
<xs:element name="IBAN" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CustomerAccountInteractionRoleType">
<xs:complexContent>
<xs:extension base="cdm:BusinessInteractionRoleType">
<xs:sequence>
<xs:element name="CustomerAccount" type="cdm:CustomerAccountType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CustomerAccountContactType">
<xs:sequence>
<xs:element name="contactType" type="xs:string" minOccurs="0"/>
<xs:element name="Contact" type="cdm:ContactType" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="TelephoneNumber" type="cdm:TelephoneNumberType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="EmailContact" type="cdm:EmailContactType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="FaxNumber" type="cdm:FaxNumberType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="WebAddress" type="cdm:WebAddressType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="PostalContact" type="cdm:PostalContactType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerAccountCharacteristicValueType">
<xs:complexContent>
<xs:extension base="cdm:CharacteristicValueType">
<xs:sequence>
<xs:element name="CustomerAccountSpecCharacteristic" type="cdm:CustomerAccountSpecCharacteristicType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CustomerAccountSpecCharacteristicType">
<xs:complexContent>
<xs:extension base="cdm:SpecCharacteristicType"/>
</xs:complexContent>
</xs:complexType>
<xs:annotation>
<xs:documentation>END - CUSTOMER ACCOUNT ABEs</xs:documentation>
</xs:annotation>
<xs:annotation>
<xs:documentation>START - TT USER ABEs</xs:documentation>
</xs:annotation>
<xs:complexType name="TTUserType">
<xs:complexContent>
<xs:extension base="cdm:PartyRoleType">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="responsibility" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="TTUserApplicationRelationship" type="cdm:TTUserApplicationRelationshipType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTUserApplicationRelationshipType">
<xs:sequence>
<xs:element name="TTApplication" type="cdm:TTApplicationType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="TTApplicationPrivilege" type="cdm:TTApplicationPrivilegeType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TTApplicationType">
<xs:complexContent>
<xs:extension base="cdm:ResourceSpecificationType">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="TTApplicationPrivilege" type="cdm:TTApplicationPrivilegeType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTApplicationPrivilegeType">
<xs:sequence>
<xs:element name="roleID" type="xs:string" minOccurs="0"/>
<xs:element name="roleName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TTDepartmentType">
<xs:complexContent>
<xs:extension base="cdm:PartyRoleType"/>
</xs:complexContent>
</xs:complexType>
<xs:annotation>
<xs:documentation>END - TT USER ABEs</xs:documentation>
</xs:annotation>
<xs:annotation>
<xs:documentation>START - PRODUCT ABEs</xs:documentation>
</xs:annotation>
<xs:complexType name="PartyRoleProductInvolvementType">
<xs:complexContent>
<xs:extension base="cdm:ProductInvolvementRoleType">
<xs:sequence>
<xs:choice id="productinvolvementrole.choice">
<xs:element name="PartyRole" type="cdm:PartyRoleType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Customer" type="cdm:CustomerType" minOccurs="0" maxOccurs="unbounded"/>
</xs:choice>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ProductInvolvementRoleType">
<xs:sequence>
<xs:element name="productInvolvementRole" type="xs:string" minOccurs="0"/>
<xs:element name="Product" type="cdm:ProductType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductType">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="productStatus" type="xs:string" minOccurs="0"/>
<xs:element name="productSerialNumber" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:annotation>
<xs:documentation>END - PRODUCT ABEs</xs:documentation>
</xs:annotation>
<xs:annotation>
<xs:documentation>START - RESOURCE ABEs</xs:documentation>
</xs:annotation>
<xs:complexType name="ResourceSpecificationType">
<xs:sequence>
<xs:element name="objectID" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="commonName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:annotation>
<xs:documentation>END - RESOURCE ABEs</xs:documentation>
</xs:annotation>
<xs:annotation>
<xs:documentation>START - SERVICE REQUEST ABEs</xs:documentation>
</xs:annotation>
<xs:complexType name="TTInteractionType">
<xs:complexContent>
<xs:extension base="cdm:BusinessInteractionType">
<xs:sequence>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="channel" type="xs:string" minOccurs="0"/>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTServiceResponseType">
<xs:complexContent>
<xs:extension base="cdm:Response"/>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TTServiceRequestType">
<xs:complexContent>
<xs:extension base="cdm:Request">
<xs:sequence>
<xs:element name="PartyInteractionRole" type="cdm:PartyInteractionRoleType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="number" type="xs:string" minOccurs="0"/>
<xs:element name="area" type="xs:string" minOccurs="0"/>
<xs:element name="subArea" type="xs:string" minOccurs="0"/>
<xs:element name="priority" type="xs:string" minOccurs="0"/>
<xs:element name="severity" type="xs:string" minOccurs="0"/>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="inboundChannel" type="xs:string" minOccurs="0"/>
<xs:element name="outboundChannel" type="xs:string" minOccurs="0"/>
<xs:element name="securityLevel" type="xs:string" minOccurs="0"/>
<xs:element name="dueDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="conclusion" type="xs:string" minOccurs="0"/>
<xs:element name="rejectionReason" type="xs:string" minOccurs="0"/>
<xs:element name="cancellationReason" type="xs:string" minOccurs="0"/>
<xs:element name="rootCause" type="xs:string" minOccurs="0"/>
<xs:element name="solutionCode" type="xs:string" minOccurs="0"/>
<xs:element name="cancellationDescription" type="xs:string" minOccurs="0"/>
<xs:element name="customerConfirmationStatus" type="xs:string" minOccurs="0"/>
<xs:element name="requestedCloseDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="ServiceRequestCharacteristicValue" type="cdm:ServiceRequestCharacteristicValueType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ServiceRequestCharacteristicValueType">
<xs:complexContent>
<xs:extension base="cdm:CharacteristicValueType">
<xs:sequence>
<xs:element name="ServiceRequestSpecCharacteristic" type="cdm:ServiceRequestSpecCharacteristicType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ServiceRequestSpecCharacteristicType">
<xs:complexContent>
<xs:extension base="cdm:SpecCharacteristicType"/>
</xs:complexContent>
</xs:complexType>
<xs:annotation>
<xs:documentation>END - SERVICE REQUEST ABEs</xs:documentation>
</xs:annotation>
</xs:schema>
